$black         = #000000
$darkgray      = #121212
$gray          = #232323
$lightgray     = #999999
$verylightgray = #cccccc
$white         = #ffffff
$primary       = #de5e1e
$secondary     = #dc1e1e

/*
 * Name:    NwsomeHabr
 * Author:  none23
 */

@document domain('habrahabr.ru'), domain('geektimes.ru'), domain('tmfeed.ru')

    html
    body
    .layout
    .App *
        background: $gray !important

    *
        border-color: alpha($darkgray, 0.1) !important
        box-shadow: none !important
        color: $verylightgray !important
        font-family: 'Ubuntu Mono' !important
        font-size: 13px
        font-weight: normal !important
        text-shadow: none !important

    *::before
        color: $primary !important

    a
        color: $primary !important

        &:hover
        &:focus
        &:active
            color: $secondary !important

    input
    textarea
        background: $primary !important
        color: $black !important

        &:hover
        &:focus
        &:active
            color: $secondary !important

    ::selection
        background: $primary !important
        color: $black !important

    svg
        path
            fill: $primary !important
            transition: transform 0.1s

        &:hover
        &:focus
            path
                transform: scale(0.95, 0.95)
                fill: $secondary !important
    img
        background: $gray !important
        mix-blend-mode: exclusion
        filter: invert(1)

        &:hover
            mix-blend-mode: none
            filter: none

    /* not logged info */
    .for_users_only_msg
        display: none !important

    /* spoilers */
    *.spoiler
    *.spoiler_title
        color: $primary !important

        &::before
            height: 0 !important
            width: 0 !important
            margin-top: 0.3em !important
            margin-right: 0.5em !important
            background: none !important
            border: 0.5em solid transparent !important
            border-left-color: $primary

    /* ads */
    *.html_banner
    *.sticky
    *.xyz_wrapper
    *.xyz_wrapper_inner
    /* promos */
    *.promo-block
    /* company social widgets */
    .facebook_like_box
    .vkontakte_groups
        &
        *
            display: none !important
            opacity: 0 !important
            visibility: hidden !important
            transform: translateX(200vw) !important

    /* post title */
    *.post__title
        & *
            &
            &:hover
            &:focus
            &:active
                color: $primary !important
                text-decoration: none !important

    /* icons */
    span.icon_tag
    .post .hubs::before
    span.post__title-arrow
    span.inline-list__item::before
    span.comment-item__controls
    span.checkbox__label::before
    button::before
        background: transparent !important
        color: alpha($primary, 0.33) !important
        text-decoration: none !important

    /* png icons */
    .content-list__item_habrahabr
    .content-list__item_geektimes
        &::before
            background-color: $primary
            background-blend-mode: multiply
            border-radius: 50%

    /* avatars */
    .comment-item__avatar-img
        border-radius: 50% !important

    /* little top pannel */
    #TMpanel
    #TMpanel *
        background: $darkgray !important
        color: alpha($primary, 0.5) !important

        /* more ads */
        .bmenu_inner
            opacity: 0 !important

    /* buttons */
    *.btn
    *.button
    *.layout__elevator:hover
    *.layout__elevator:focus
        background: mix($gray, $darkgray, 25%) !important

    *.btn
    *.layout__elevator
        &:hover
        &:focus
            svg
                path
                    fill: $secondary !important

    /* blocks */
    .similar-posts
    .author-info
    .tabs-menu
    .layout__navbar
    .comments_list
    .live-broadcast
    .postinfo-panel
    .company_links
    .corporate_blog
    .post__footer
    .sidebar_right *.sidebar-block
        &
        *
            background: mix($gray, $darkgray, 75%) !important
            color: $lightgray

    .tabs-menu
        color: $primary !important

    *.tabs__menu
        &
        *
            background: mix($gray, $darkgray) !important

    /* post flags */
    *.flag
    *.flag *
        background: $primary !important
        color: $darkgray !important

        &::after
            border-color: $primary transparent $primary $primary !important

        &:hover
        &:focus
        &:active
            background: $secondary !important
            color: $darkgray !important

    /* pages nav */
    div.page-nav
        span
        a
            color: $primary !important

        em
            background: $primary !important
            color: $darkgray !important

    /* syntax highlighting for code */
    @require "../hljs/nwsome.styl"
