@-moz-document domain('youtube.com'), domain('ytimg.com')
    // Global variables {{{

    black     = #000000
    gray1     = #101010
    gray2     = #171717
    gray3     = #202020
    gray4     = #272727
    gray5     = #303030
    gray6     = #373737
    gray7     = #444
    gray8     = #555
    gray9     = #666
    gray10    = #777
    gray11    = #999
    gray12    = #bbb
    gray13    = #ddd
    white     = #fff
    primary   = hsl(20,100%,50%)
    secondary = hsl(210,100%,60%)

    selection-bg-color               = primary
    selection-text-color             = black

    body-font                        = 'Open Sans', sans-serif
    bg-color                         = gray3

    main-text-color                  = gray13
    main-faded-text-color            = gray9

    sep-line-color                   = gray6

    card-bg-color                    = gray3
    card-dark-bg-color               = gray5
    card-light-bg-color              = gray4
    card-border-color                = gray5
    card-hover-bg-color              = gray4
    card-light-hover-bg-color        = gray5

    menu-bg-color                    = gray4
    menu-hover-bg-color              = gray5
    menu-border-color                = gray6
    menu-light-bg-color              = gray6
    menu-light-hover-bg-color        = gray6
    menu-light-active-bg-color       = gray7
    menu-light-border-color          = gray7

    link-color                       = primary
    link-hover-color                 = white

    input-box-bg-color               = gray2
    input-checkbox-toggle-bg-color   = gray8
    input-checkbox-active-bg-color   = gray6
    input-checkbox-inactive-bg-color = gray3

    ::selection
        background: var(--selection-bg-color)
        color: var(--selection-text-color)

    body
        font-family: var(--body-font)
        background: var(--bg-color)

    body
    p.yt
    .yt-default p
        color: var(--main-text-color)

    // }}}
    // Links {{{
    .branded-page-module-title
    .yt-lockup-title
    .yt-lockup:hover
    .yt-lockup:hover .yt-lockup-meta
    .yt-lockup:hover .yt-lockup-description
    #watch-header .yt-user-info
    #action-panel-details
    .feed-item-main .feed-item-header
    .feed-item-main a.yt-user-nam&
    #pl-header .pl-header-details
    .yt-tile-static
    .yt-tile-visible:hover
    .yt-tile-default:hover
    .yt-card-light
    .yt-card-light .yt-card-title
    .yt-creator-benefits-table
    .yt-advertise-sidebar
    .yt-dev-showcase-external-link-msg-container:hover
    .video-player-view-component .video-detail
    .dashboard-widget-comments .comment-header
    .dashboard-widget-comments .selectable-item:hover .vm-link
    .dashboard-widget-videos .video-list-item .video-title
    .vm-list-view .vm-video-side-view-count
    .creator-editor-title
    .vm-list-view .vm-video-side-notification-text
    .yt-alert-naked .yt-alert-content
    .C6S3OU-b-c
    .branded-page-related-channels
        a
            color: var(--link-color) !important

    .filter
    .filter-sort.filter-selected
    .vm-list-view .vm-video-title .vm-video-title-content
    .multirow-shelf .yt-uix-expander-head
    .comment-renderer-header .comment-author-text
    .comment-renderer-like-count
    .comment-replies-renderer-paginator
    .comment-replies-renderer-view
    .comment-replies-renderer-hide
    .lohp-video-link
    .lohp-video-metadata .yt-user-name
    .c4-checklist-module .checklist-item-title-text
    .yt-uix-button-link
    .C6S3OU-p-a
    .branded-page-module-title a:visited
        color: var(--link-color)


    .video-list .video-list-item
        .title
            color: var(--link-color) !important

        &:hover .title
            color: var(--link-hover-color) !important

    /* Hover */
    a
    .branded-page-module-title a.branded-page-module-title-link
    .lohp-video-metadata .yt-user-name
    .c4-checklist-module .checklist-item.done .checklist-item-title-text
    .c4-checklist-module .checklist-item-title-text
    .c4-checklist-module .view-all-link a
    .branded-page-related-channels h3 a
    .branded-page-related-channels-item .yt-uix-button-link
    #pl-header .pl-header-details a
    .filter
    .video-player-view-component .video-detail a
    .dashboard-widget-comments .comment-header a
    .dashboard-widget-videos .video-list-item .video-title a
    .vm-list-view .vm-video-title a.vm-video-title-content
    .creator-editor-title a
    .yt-alert-naked .yt-alert-content a
    .C6S3OU-b-c a
    .C6S3OU-d-a .C6S3OU-d-c
        &:hover
            color: var(--link-hover-color)

    #action-panel-details:hover
        a
    .feed-item-container:hover .feed-item-header a
    .feed-item-container:hover a.yt-user-name
    .c4-checklist-module .checklist-item:hover .checklist-item-title-text .todo-title-text
    .multirow-shelf .compact-shelf-view-all-card-link:hover h4
    .multirow-shelf .compact-shelf-view-all-card-link:hover a
    #watch7-sidebar .video-list-item:hover .title
    #watch7-sidebar .video-list-item:hover .title .yt-deemphasized-text
    .dashboard-widget-comments .selectable-item:hover .vm-link a
        color: var(--link-hover-color)

    /* Background color on links fix */
    .yt-ui-ellipsis
    .comment-renderer.channel-owner .comment-author-text
        background: transparent !important

    // }}}
    //  Images {{{

    /* Logo */
    #masthead-logo
    #yt-masthead #logo-container .logo
    #footer-logo .footer-logo-icon
    .footer-logo
        background: embedurl('nwsome__logo.svg','utf8')
        background-repeat: no-repeat
        background-size: 100%

        img
            opacity: 0 !important

    /* Youtube About page workaround */
    .footer-logo
        margin-top: 15px
        display: inline-block

    /* Video thumbnail placeholder background */
    .yt-thumb
        background: var(--menu-bg-color)

    /* Light icons */
    #watch8-action-buttons .yt-uix-button
    .yt-help-icon
    #yt-masthead-user .yt-uix-button-icon-bell
    .yt-uix-button-icon-icon-account-settings
    #masthead-search .search-btn-component .yt-uix-button-content
    .yt-close-img
    .box-close-link img
    .yt-uix-clickcard-close
    .close-small
    .flag-channel-abuse-form .report-question-mark
    .add-to-widget .addto-search-playlist-section .search-icon
    .add-to-widget .yt-sprite
    .create-playlist-widget-form .has-icon::before
    .create-playlist-widget-form .yt-uix-button-has-icon::before
    .pl-header-title-icon
    .c4-editor-edit::before
    #search-btn span
    .footer-help-btn-img-container
    .yt-ui-menu-item.has-icon::before
    .vm-list-view .vm-video-metric .yt-sprite
    .creator-editor-nav-tabs li > span .yt-sprite
    .creator-editor-nav-tabs li a .yt-sprite
    .copynotice-info-target
    .yt-uix-button-menu-item-icon-annotation-anchored
    .yt-uix-button-icon-annotation-anchored
    .icon-annotation-anchored
    .yt-uix-button-menu-item-icon-annotation-popup
    .yt-uix-button-icon-annotation-popup
    .icon-annotation-popup
    .yt-uix-button-menu-item-icon-annotation-title
    .yt-uix-button-icon-annotation-title
    .icon-annotation-title
    .yt-uix-button-menu-item-icon-annotation-highlight
    .yt-uix-button-icon-annotation-highlight
    .icon-annotation-highlight
    .yt-uix-button-menu-item-icon-annotation-label
    .yt-uix-button-icon-annotation-label
    .icon-annotation-label
    .vm-search-btn .yt-uix-button-content
    .live-chat-widget .live-comments-emoji-picker-open::before
    .live-chat-widget .overflow-menu-button::before
    .live-chat-widget .post-button::before
    .ytch-search-container .search-btn-component .yt-uix-button-content
    .comments .mod-button
    .C6S3OU-nb-b
    .C6S3OU-g-d
    .C6S3OU-h-n
    .C6S3OU-n-c
    .C6S3OU-L-c
    .C6S3OU-H-i img
    .C6S3OU-x-a
    .C6S3OU-hb-a img
    .C6S3OU-Y-u
    button.play-pause-button
    button.expand-button
    .track.attribution .license-button .track-action-icon
    .audiolibrary-track-head .favorite-button .track-action-icon
    #video-tab img
    #cc-tab img
    #images-tab img
    #audio-tab img
    #transition-tab img
    #text-tab img
    #keyboard-help-tab img
    img.storyboard-icon.video-icon
    img.storyboard-icon.audio-icon
    .mediapicker-audio .audio-monetized-badge-container img
    button.audio-add img
    .timeline-zoomslider .slider-icon
    .C6S3OU-R-h
    button.thumb-add img
    button.thumb-remove img
        filter: hue-rotate(20deg)


    /* Blue to light icons - Channel tips circle bullet points */
    .c4-checklist-module .checklist-item.active .todo-icon
    .vm-list-view .vm-video-indicators
    .delete-segment-button-icon
    .add-segment-button-icon
    .yt-sprite.vm-video-privacy
    .live-dashboard .yt-sprite
        filter: brightness(120%) saturate(5%)

    /* light / gradient icons to darker ones */
    .video-unlisted-icon
        background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vflMlDDAN.png) -285px -221px
        background-size: 419px 399px
        width: 20px
        height: 20px
        filter: invert(50%)

    // }}}
    // Misc {{{

    // Card UI elements
    .yt-card
    #masthead-container
    #yt-masthead-container
    body #footer-container
    #masthead-appbar
    .footer-container
        background: var(--card-bg-color)
        color: var(--main-text-color)
        border: none

    /* Checkboxes */
    /* Toggle */
    .yt-uix-checkbox-on-off .toggle
        background: var(--input-checkbox-toggle-bg-color)

    .yt-uix-checkbox-on-off label
        background-color: var(--input-checkbox-inactive-bg-color)

    .yt-uix-checkbox-on-off input[type="checkbox"]:checked + label
        background-color: var(--input-checkbox-active-bg-color)

    /*================================================================
            Masthead notifications
    ================================================================*/
    /* Privacy reminder */
    /* BG / border */
    .yt-consent-banner
        background: var(--card-light-bg-color)
        border: none

    .yt-alert-default.yt-alert-success
    .yt-alert-actionable.yt-alert-success
    .yt-alert-naked.yt-alert-success .yt-alert-icon
    .yt-alert-small.yt-alert-success
        background: var(--card-bg-color)

    /* Text */
    .yt-consent-banner .yt-consent-content
        color: var(--main-text-color)

    /* Close button */
    .yt-consent-banner .consent-close
        color: var(--link-color)

    .yt-consent-banner .consent-close:hover
        color: var(--link-hover-color)

    /*================================================================
            Alert notifications
    ================================================================*/
    .yt-alert-default.yt-alert-info
    .yt-alert-actionable.yt-alert-info
    .yt-alert-naked.yt-alert-info .yt-alert-icon
    .yt-alert-small.yt-alert-info
        background: var(--menu-light-bg-color)

    .yt-alert-panel
        background: var(--menu-bg-color)

    /*================================================================
            Warning and error boxes
    ================================================================*/

    /* Warning box */
    .yt-alert-actionable.yt-alert-warn
    .yt-alert-default.yt-alert-warn
    .yt-alert-naked.yt-alert-warn .yt-alert-icon
    .yt-alert-small.yt-alert-warn
    .C6S3OU-F-e.C6S3OU-F-m
    .C6S3OU-F-k.C6S3OU-F-m
        background-color: #ffbd59
        margin-bottom: 1em
        /* Give some damn breathing room */

    // }}}
    // Modal {{{

    /* Fade out background */
    .yt-dialog-bg
    .yt-uix-overlay-bg
    .picker.modal-dialog-bg
        background-color: black

    .C6S3OU-s-n
        background-color: black
        opacity: 0.6

    /* Main dialog color */
    .yt-dialog-fg
    .yt-uix-overlay-fg
    .no-focus-outline .yt-dialog-fg:focus
    .C6S3OU-s-f
    .C6S3OU-s-g
        background: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    .yt-uix-overlay-actions
        background: var(--card-bg-color)

    /* Dialog header */
    .C6S3OU-s-f .C6S3OU-s-p
        background-color: var(--menu-light-bg-color)
        color: var(--link-color)

    /* Text colors */
    .yt-dialog-fg-content .yt-dialog-title
    .yt-uix-overlay-fg-content .yt-dialog-title
    .C6S3OU-f-c:hover .C6S3OU-f-f
    .C6S3OU-f-c:focus .C6S3OU-f-f
    .C6S3OU-f-h .C6S3OU-f-f
    .C6S3OU-h-q li a
        color: var(--link-color)

    .yt-dialog-fg-content
    .yt-uix-overlay-fg-content
    input.C6S3OU-l-f.C6S3OU-h-o
        color: var(--main-text-color)

    .overlay-confirmation-preferences-dialog .overlay-confirmation-delivery-method
        color: var(--main-faded-text-color)

    /* Separators */
    .C6S3OU-s-f .C6S3OU-s-p
    .C6S3OU-f-a
        border-color: var(--sep-line-color)

    /* Input boxes */
    .C6S3OU-h-i
        background-color: var(--input-box-bg-color)
        border-color: var(--menu-border-color)

    /* Dropdown elements */
    .C6S3OU-r-a
        background: var(--menu-light-bg-color)
        border-color: var(--menu-light-border-color)

    /* Item hover */
    .C6S3OU-r-e
    .C6S3OU-r-e strong
        background-color: var(--menu-light-hover-bg-color)

    /* Send message */
    /* To username box */
    .yt-channel-msg-dialog .user-box
        border-color: var(--menu-border-color)
        background-color: var(--card-bg-color)

    /* Text input */
    .yt-channel-msg-dialog .compose-message
        border-color: var(--menu-border-color)
        background-color: var(--input-box-bg-color)
        color: var(--main-text-color)

    /* Dialog footer */
    .yt-channel-msg-dialog .yt-dialog-footer
        background-color: var(--card-bg-color)

    /* Report dialog */
    /* Separator */
    .flag-channel-abuse-form hr
        border-color: var(--sep-line-color)

    /* New Playlist dialog */
    /* Header */
    .yt-uix-form-legend
    .yt-uix-form-label
        color: var(--link-color)

    /* Footer bg */
    .create-playlist-widget-form .create-playlist-bottom-section
    .C6S3OU-s-f .C6S3OU-s-i
        background-color: var(--card-bg-color)

    /* Playlist settings modal */
    /* Separator */
    #playlist-settings-editor .yt-uix-tabs
        border-color: var(--sep-line-color)

    /* Footer bg */
    #playlist-settings-editor .yt-dialog-footer
        background-color: var(--card-bg-color)
        border-color: var(--sep-line-color)

    /* Attention highlight bg */
    #collaboration-settings .collaboration-settings-invite-link.disabled::before
        opacity: 0.05
        pointer-events: none

    /* Create invite "Get link" button */
    #collaboration-settings .yt-uix-button.create-invite-link-button
        background: var(--menu-light-bg-color)
        border-color: var(--menu-light-border-color)

    /* Share dialog */
    /* Separator */
    .yt-card .yt-uix-tabs
        border-color: var(--sep-line-color)

    /* Normal text */
    .share-panel
    .pl-header-sharepanel-content .share-panel-url
        color: var(--main-text-color)

    /* Share email preview */
    .share-email label
        color: var(--main-faded-text-color)

    .share-email-preview-container
        background: var(--card-bg-color)

    // }}}
    // Masthead {{{

    #masthead-container
    #yt-masthead-container
        background: var(--card-dark-bg-color)

    /* Search box */
    #masthead-search-term
    #masthead-search-terms
        background-color: var(--input-box-bg-color)
        box-shadow: none
        border: 1px solid var(--menu-border-color)

    #masthead-search-term input
    #masthead-search-term input:focus
    #masthead-search-terms input
        color: var(--main-text-color)

    #masthead-search-term:hover
    #masthead-search-terms:hover
        border-color: var(--menu-light-border-color)

    /* Search results dropdown */
    .gssb_m
        color: var(--main-text-color)
        background: var(--card-bg-color)

    /* Search results border */
    .gssb_e
        border: none

    /* Search results hover bg */
    .gssb_i
    .gssb_i td
        background: var(--card-light-bg-color)

    .yt-masthead-account-picker.yt-uix-clickcard-card-content
        color: var(--main-text-color)

    .yt-masthead-picker-account-subtitle
        color: var(--main-faded-text-color)

    .yt-masthead-picker-footer
        background: var(--card-bg-color)

    /* Lighter buttons for menu */
    .yt-uix-button-default.yt-masthead-picker-button-primary
    .yt-uix-button-default.yt-masthead-picker-settings-button
        background: var(--menu-light-bg-color)

    .yt-uix-button-default:hover.yt-masthead-picker-button-primary
    .yt-uix-button-default:hover.yt-masthead-picker-settings-button
        background: var(--menu-light-hover-bg-color)

    /* Settings gear icon opacity fix */
    .yt-uix-button-default.yt-masthead-picker-settings-button .yt-uix-button-icon
        opacity: 0.7

    .yt-uix-button-default:hover.yt-masthead-picker-settings-button .yt-uix-button-icon
        opacity: 0.9

    /* Masthead appbar */
    a.yt-uix-button-epic-nav-item.selected
    a.yt-uix-button-epic-nav-item.yt-uix-button-toggled
    button.yt-uix-button-epic-nav-item.selected
    button.yt-uix-button-epic-nav-item.yt-uix-button-toggled
    .epic-nav-item.selected
    .epic-nav-item.yt-uix-button-toggled
    .epic-nav-item-heading
        color: var(--main-text-color)

    #appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item
        color: var(--main-faded-text-color)

    // }}}
    // Buttons + popup menus {{{
    /* Elements in listed order:
            - Base popup menus
    */
    .yt-ui-menu-content
        background: var(--menu-bg-color)
        color: var(--main-text-color)
        border-color: var(--menu-border-color)

    /* Main button classes
         Elements in listed order:
            - Default buttons
            - Comments "Show more" button
            - Subscribed button
    */
    .yt-uix-button-default
    .yt-uix-button-text
    .comment-section-renderer-paginator
    .yt-uix-button-subscribed-branded
    .yt-uix-button-subscribed-branded[disabled]
    .yt-uix-button-subscribed-unbranded
    .yt-uix-button-subscribed-unbranded[disabled]
    .yt-uix-button-default
    .yt-uix-button-default[disabled]
    .yt-uix-button-default[disabled]:hover
    .yt-uix-button-default[disabled]:active
    .yt-uix-button-default[disabled]:focus
    .yt-uix-button-subscribe-unbranded
    .yt-uix-button-subscribe-unbranded[disabled]
    .yt-uix-button-subscribe-unbranded[disabled]:hover
    .yt-uix-button-subscribe-unbranded[disabled]:active
    .yt-uix-button-subscribe-unbranded[disabled]:focus
    .business-email-container .business-email-button
    .yt-form-input-select-container
    .yt-uix-button-dark
    .yt-uix-button-dark[disabled]
    .yt-uix-button-dark[disabled]:hover
    .yt-uix-button-dark[disabled]:active
    .yt-uix-button-dark[disabled]:focus
    #creator-subheader #creator-subheader-item-count
    .C6S3OU-g-q
        background: var(--menu-bg-color)
        color: var(--main-text-color)
        border-color: var(--menu-border-color)
        opacity: 1

    /* Buttons that fade out when not in use */
    .yt-uix-button-c4-view-action
        background: var(--menu-light-bg-color)
        color: var(--main-text-color)
        border-color: var(--menu-light-border-color)

    /* Active buttons */
    .yt-uix-button-default:active
    .yt-uix-button-default.yt-uix-button-toggled
    .yt-uix-button-default.yt-uix-button-active
    .yt-uix-button-default.yt-uix-button-active:focus
    .yt-uix-button-text:active
    .yt-uix-button-dark:hover
    .C6S3OU-g-q:hover
        background-color: var(--menu-hover-bg-color)
        border-color: var(--menu-border-color)
        box-shadow: none

    /* Lighter buttons */
    .C6S3OU-g-f
    .C6S3OU-g-v:active
    .C6S3OU-g-f:active
    .C6S3OU-g-w:active
    .C6S3OU-g-f.C6S3OU-g-y
        background-image: none
        background-color: var(--menu-light-bg-color)
        border-color: var(--menu-light-border-color)
        box-shadow: none

    .C6S3OU-g-f:hover
        background-image: none
        background-color: var(--menu-light-hover-bg-color)
        border-color: var(--menu-light-border-color)

    /* Hover states
         Elements in listed order:
            - Default buttons
            - Comments "Show more" button
            - Subscribed button
    */
    .yt-uix-button-default:hover
    .yt-uix-button-text:hover
    #comment-section-renderer .comment-section-renderer-paginator:hover
    .yt-uix-button-subscribed-branded[disabled]:hover
    .yt-uix-button-subscribed-branded[disabled]:active
    .yt-uix-button-subscribed-branded[disabled]:focus
    .yt-uix-button-subscribed-unbranded[disabled]:hover
    .yt-uix-button-subscribed-unbranded[disabled]:active
    .yt-uix-button-subscribed-unbranded[disabled]:focus
    .yt-uix-button-default.yt-uix-button-toggled:hover
    .yt-uix-button-subscribe-unbranded:hover
        background: var(--menu-light-hover-bg-color)
        color: var(--main-text-color)
        border-color: var(--menu-light-border-color)
        box-shadow: none

    /* Disabled / de-emphasized */
    .yt-uix-button.yt-uix-button-subscribed-unbranded
    .C6S3OU-g-f[disabled]
    .C6S3OU-g-f[disabled]:hover
    .C6S3OU-g-f[disabled]:active
        color: var(--main-faded-text-color)

    .C6S3OU-g-f[disabled]
    .C6S3OU-g-f[disabled]:hover
    .C6S3OU-g-f[disabled]:active
        background: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    /* Popup menu items */
    .yt-uix-button-menu
        background: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    .yt-ui-menu-item
    .yt-uix-button-menu .yt-uix-button-menu-item
        color: var(--main-text-color)

    .yt-uix-button-menu .yt-uix-button-menu-item.selected
    .yt-uix-button-menu .yt-uix-button-menu-item-highlight .yt-uix-button-menu-item
    .yt-uix-button-menu .yt-uix-button-menu-item:hover
        color: var(--link-hover-color)
        background-color: var(--menu-hover-bg-color)

    .yt-ui-menu-item:hover
        background: rgba(255, 255, 255, 0.02)

    .yt-ui-menu-item:focus
        background: rgba(255, 255, 255, 0.05)

    /* Popup tips */
    .yt-uix-clickcard-card-border
    .yt-uix-hovercard-card-border
        background: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    /* Lighter */
    .C6S3OU-E-g
        background: var(--menu-light-bg-color)
        border-color: var(--menu-light-border-color)

    /* Lighter arrow */
    /* Right */
    .C6S3OU-E-l .C6S3OU-E-e
        border-right-color: var(--menu-light-bg-color)

    .C6S3OU-E-l .C6S3OU-E-h
        border-right-color: #66666f

    /* Left */
    .C6S3OU-E-e
        border-left-color: var(--menu-light-bg-color)

    .C6S3OU-E-h
        border-left-color: var(--menu-light-border-color)

    /* Popup tips text */
    .yt-uix-clickcard-card-body
    .yt-uix-hovercard-card-body
    .C6S3OU-p-c
        color: var(--main-text-color)

    /* Arrow */
    /* Main bg color */
    /* Tips popout */
    .yt-uix-clickcard-card-flip .yt-uix-card-body-arrow-horizontal
    .yt-uix-hovercard-card-flip .yt-uix-card-body-arrow-horizontal
        border-right-color: var(--menu-bg-color)

    /* Account popdown */
    .yt-uix-clickcard-card-reverse .yt-uix-card-body-arrow-vertical
    .yt-uix-hovercard-card-reverse .yt-uix-card-body-arrow-vertical
        border-bottom-color: var(--menu-bg-color)

    /* Dropdown button down arrow */
    .yt-uix-button-arrow
        border-top-color: var(--main-text-color)

    /* Border */
    /* Tips popout */
    .yt-uix-clickcard-card-flip .yt-uix-card-border-arrow-horizontal
    .yt-uix-hovercard-card-flip .yt-uix-card-border-arrow-horizontal
        border-right-color: var(--menu-border-color)

    /* Account popdown */
    .yt-uix-clickcard-card-reverse .yt-uix-card-border-arrow-vertical
    .yt-uix-hovercard-card-reverse .yt-uix-card-border-arrow-vertical
        border-bottom-color: var(--menu-border-color)

    // }}}
    // Guide sidebar {{{

    #appbar-guide-menu
    .guide-flyout
        background: var(--menu-bg-color)

    .guide-pinned .guide-pinning-enabled #appbar-guide-menu
        border-color: var(--menu-border-color)

    /* Item */
    /* Hover bg */
    .guide-flyout-trigger.on-hover
    .guide-item:hover
    .guide-item:hover .yt-deemphasized-text
    .guide-collapsible-item .yt-uix-expander-head:hover
        background: var(--menu-hover-bg-color)

    /* Text color */
    li.guide-section h3 a
        color: var(--link-color)

    .guide-item
        color: var(--main-text-color)

    .guide-item .guide-count
    .guide-view-more
    .guide-item-subtitle
        color: var(--main-faded-text-color)

    /* Icons */
    .guide-item .yt-sprite
        filter: brightness(200%)
        opacity: 0.65

    .guide-item:hover .yt-sprite
    .guide-item.guide-item-selected .yt-sprite
        opacity: 1

    .guide-section-separator
        border-color: var(--sep-line-color)

    // }}}
    // Home page video feed {{{

    /* Separator lines */
    #browse-items-primary .item-section > li > .yt-lockup-tile
    .branded-page-v2-primary-col .branded-page-box
    .section-list li .item-section .branded-page-box
    .yt-lockup-playlist-item
        border-color: var(--sep-line-color)

    /* Left / right arrows */
    .compact-shelf .yt-uix-button-shelf-slider-pager
        background: var(--menu-bg-color)

    /* arrow hover border */
    .browse-list-item-container:hover .compact-shelf .yt-uix-button-shelf-slider-pager
    .compact-shelf:hover .yt-uix-button-shelf-slider-pager
        border-color: var(--menu-border-color)

    /* arrow icon color */
    .compact-shelf .yt-uix-shelfslider-next-arrow
    .rtl .compact-shelf .yt-uix-shelfslider-prev-arrow
    .compact-shelf .yt-uix-shelfslider-prev-arrow
    .rtl .compact-shelf .yt-uix-shelfslider-next-arrow
        filter: invert(100%)

    /* watch later button icon */
    .addto-watch-later-button::before
    .addto-watch-later-button-sign-in::before
        filter: invert(100%) brightness(70%)

    /* Dim name links */
    .lohp-video-metadata .yt-user-name
        opacity: 0.7

    // }}}
    // Search results {{{

    /* Header bg and separator */
    .search-header
        background-color: var(--menu-bg-color)
        border-color: var(--sep-line-color)

    /* Search filter */
    .search-header .yt-uix-button-content
    .filter-col-title
        color: var(--main-text-color)

    /* Filter de-emphasized unselected */
    .filter
        opacity: 0.75

    .filter-selected
        opacity: 1

    /* Search results */
    .search-header .num-results
    .search-header .num-results strong
        color: var(--main-faded-text-color)

    /* Recommended for you border */
    #browse-items-primary .item-section > li > .yt-lockup-tile
    .branded-page-v2-primary-col .branded-page-box
    .section-list li .item-section .branded-page-box
        border-color: var(--sep-line-color) !important
        background-color: var(--menu-bg-color)

    // }}}
    //    Channel page {{{

    /* Channel stats top header */
    .channel-header .secondary-header-contents
        background-color: var(--card-bg-color)

    .secondary-header-contents .nav-text
        color: var(--main-text-color)

    /* Header custom links */
    /* Background */
    .channel-header .about-secondary-links
    .channel-header .about-custom-links
        background-color: var(--menu-bg-color)

    /* Text headers
            - Channel username
            - General headers
    */
    .channel-header .branded-page-header-title .branded-page-header-title-link
    .branded-page-module-title
        color: var(--link-color)

    /* "View as" input */
    .primary-header-contents .view-as-menu .view-as-menu-trigger
        color: var(--main-text-color)

    /* Icons
            - Settings gear
            - Search
            - Misc other button icons
            - Channel stats header icons
            - Play all button
    */
    .yt-uix-button-icon-settings-material
    #channel-search .show-search .search-icon
    .c4-button-opacity::before
    .secondary-header-action .header-action-icon
    .yt-uix-button-default::before
    .yt-uix-button-default .yt-uix-button-icon
        filter: invert(60%) brightness(150%)

    /* Main channel nav links */
    a.yt-uix-button.yt-uix-button-epic-nav-item
    button.yt-uix-button-epic-nav-item
    .epic-nav-item
        color: var(--main-faded-text-color)

    /* Spotlight border highlight */
    #c4-spotlight-editor .spotlight-editor-tab
        border-color: var(--card-hover-bg-color)

    /* Video details */
    .lohp-video-metadata
    .lohp-video-metadata .view-count
        color: var(--main-faded-text-color)

    /* Featured video */
    /* Stats */
    .video-player-view-component .view-count .count
    .video-player-view-component .view-count .content-item-time-created
        color: var(--main-faded-text-color)

    /* Featured video description */
    /* Text */
    .video-player-view-component
        color: var(--main-text-color)

    /* BG */
    .yt-uix-expander-ellipsis
        background-color: transparent

    /* Playlist thumbnail overlays */
    /* Total video count sidebar */
    .yt-pl-thumb .sidebar
    .yt-pl-thumb-link .yt-pl-thumb-overlay
    .pl-header-thumb .pl-header-play-all-overlay
        background: rgba(22, 22, 25, 0.92)

    .watched-badge
        background-color: var(--card-bg-color)
        opacity: 0.7

    /* Watched badge */
    /* Font sizes different depending on location */
    .watched-badge
        padding-top: 25%
        font-size: 1.5em

    .pl-video .pl-video-thumbnail .watched-badge
        padding-top: 18%
        font-size: 1em

    /* Cover video thumbnail */
    .watched-badge
    .ltr .watched-badge
    .pl-video .pl-video-thumbnail .watched-badge
        top: 0 !important
        left: 0 !important
        bottom: 0
        right: 0
        max-width: 100%
        text-align: center
        opacity: 0.8
        transition: opacity 0.15s ease

    /* Hide on hover to see thumbnail */
    .watched-badge:hover
    .pl-video .pl-video-thumbnail:hover .watched-badge
        opacity: 0

    /* Playlist description */
    .shelf-description
    .shelf-annotation
        color: var(--main-faded-text-color)

    /* View as top header */
    #view-as-notification
        background-color: var(--card-bg-color)

    /* Separators */
    #c4-header-bg-container
    .channel-header .secondary-header-contents
    .branded-page-v2-primary-col .yt-uix-inlineedit-view-container .branded-page-box
    .branded-page-v2-primary-col .branded-page-box.video-player-view-component:last-child
    .branded-page-v2-primary-col .branded-page-box.c4-featured-content:last-child
    .branded-page-v2-primary-col .branded-page-box.c4-featured-content-editor:last-child
    .branded-page-v2-primary-col .branded-page-box.welcome:last-child
    .branded-page-v2-subnav-container
        border-color: var(--sep-line-color)

    /* Card hover background */
    #other-channels-sidebar:hover
    .related-channels-editor:hover
        background-color: var(--card-light-bg-color)

    /* Related channels disable button text */
    .yt-uix-button-c4-view-action.yt-uix-button-destructive
        color: var(--link-hover-color)

    /* About page */
    /* Channel stats */
    .about-stats .about-stat
        color: var(--main-faded-text-color)

    .about-metadata-container
        color: var(--main-text-color)

    /* About edit */
    /* Separators */
    .about-metadata-label-border-top
        border-color: var(--sep-line-color)

    /* Edit hover */
    .about-description-editor .c4-module-is-editable:hover
    .about-business-email-editor .c4-module-is-editable:hover
    .about-metadata-editor .c4-module-is-editable:hover
        background-color: var(--card-dark-bg-color)

    /* Input box font color fix */
    .c4-module-editor-form .yt-uix-form-input-text
    .c4-module-editor-form .yt-uix-form-input-select
    .c4-module-editor-form .yt-uix-form-input-textarea
        color: var(--main-text-color)

    /* Search */
    /* Text color */
    .yt-uix-form-input-select
    .yt-uix-form-input-text
    .yt-uix-form-input-textarea
        color: var(--main-text-color)

    /* Own playlist edit */
    /* Header bg */
    #pl-header
        background: var(--menu-bg-color)

    /* List title */
    #pl-header .pl-header-title
        color: var(--link-color)

    /* List title hover */
    .pl-header-inlineedit .c4-module-is-editable:hover
        background-color: var(--input-box-bg-color)

    /* List title hover edit button */
    .pl-header-inlineedit .yt-uix-button-c4-view-action
        border-color: var(--menu-light-border-color)

    /* List title edit mode remove useless white bg crap */
    .c4-module-editor-form
        background-color: transparent

    /* Edit mode border */
    .c4-module-editor-form .yt-uix-form-input-text
    .c4-module-editor-form .yt-uix-form-input-select
    .c4-module-editor-form .yt-uix-form-input-textarea
        border-color: var(--menu-light-border-color)

    /* Permissions icon -> Owner username vertical separator */
    #pl-header .privacy-icon-present .pl-header-details::before
        border-color: var(--sep-line-color)

    /* Add description link color */
    #pl-header .pl-header-add-description-button
        color: var(--link-color)

    #pl-header .pl-header-add-description-button:hover
        color: var(--link-hover-color)

    /* Playlist notifications, auto sorted etc. */
    .pl-message-panel .yt-alert-default
        border-color: var(--sep-line-color)
        background-color: var(--menu-light-bg-color)

    .pl-message-panel .yt-alert-default .yt-alert-content
        color: var(--main-text-color)

    /* Video list item */
    /* Separator */
    .pl-video
        border-color: var(--sep-line-color)

    /* Hover bg change */
    .pl-video:hover
        background-color: var(--menu-hover-bg-color)

    /* Video list item dragged background */
    .yt-uix-dragdrop-cursor-follower
        border-color: var(--menu-border-color)
        background-color: var(--menu-bg-color)

    /* Video list item move handle */
    .pl-video-list-editable .pl-video:hover .pl-video-handle
    .yt-uix-dragdrop-cursor-follower .pl-video-handle
        background: var(--menu-light-bg-color)
        border: none
        padding: 0 0.2em

    /* Title */
    .pl-video-title-link
        color: var(--link-color)

    /* Hovered title link */
    .pl-video:hover .pl-video-title-link
    .pl-video:hover .pl-video-owner a
        color: var(--link-hover-color)

    // }}}
    // Video page autoplay / recommended {{{

    /* "Up next" text */
    #watch7-sidebar .watch-sidebar-head
        color: inherit

    /* Autoplay (i) icon */
    .autoplay-bar .autoplay-info-icon
        filter: invert(100%)

    /* List item title */
    .video-list .video-list-item .title
    .video-list-item a
        color: var(--main-text-color)

    #watch7-sidebar .video-list-item a:hover .title
    #watch7-sidebar .video-list-item a:hover .title .yt-deemphasized-text
        color: var(--main-text-color)

    /* List item details text */
    .video-list .video-list-item .description
    .video-list .video-list-item .stat
        color: var(--main-faded-text-color)

    /* Separator line */
    #watch7-sidebar .watch-sidebar-separation-line
        border-color: var(--sep-line-color)

    /* NEW tag */
    .yt-badge
        color: var(--main-text-color)
        border-color: var(--menu-border-color)

    // }}}
    // Video page {{{
    // details {{{
    #watch8-action-buttons
        border-top-color: var(--sep-line-color)

    /* Subscribe options button */
    .yt-uix-button-default::before
    .yt-uix-button-default .yt-uix-button-icon
        opacity: 1

    .yt-uix-button-default:hover .yt-uix-button-icon
    .yt-uix-button-default:hover::before
        opacity: 0.4
        filter: invert(100%)

    /* Subscriber count text */
    .yt-subscription-button-subscriber-count-branded-horizontal
    .yt-subscription-button-subscriber-count-unbranded-horizontal
        color: var(--main-text-color)
        background: var(--card-bg-color)
        border: none
        border-left: 1px solid var(--menu-border-color)

    /* Add to menu */
    /* Header */
    #yt-uix-videoactionmenu-menu h3
        color: var(--link-color)

    /* Input hover border */
    .yt-uix-form-input-select:hover
    .yt-uix-form-input-text:hover
    .yt-uix-form-input-textarea:hover
        border-color: var(--menu-light-border-color)

    /* List item */
    /* Text */
    .add-to-widget .addto-playlist-item
        color: var(--main-text-color)

    /* Hover state */
    .add-to-widget .addto-playlist-item:hover
    .add-to-widget .create-playlist-item:hover
    .add-to-widget .addto-playlist-item.yt-uix-kbd-nav-highlight
        background-color: var(--menu-hover-bg-color)

    /* Checkboxes */
    .add-to-widget .playlist-status
    .add-to-widget .contains-all-selected-videos.to-be-removed .playlist-status
    .add-to-widget .contains-some-selected-videos.to-be-removed .playlist-status
        opacity: 0.3

    /* Separator */
    .add-to-widget .playlists
        border-color: var(--sep-line-color)

    /* Create button */
    .add-to-widget .create-playlist-item
        color: var(--main-text-color)

    // }}}
    // description {{{

    #watch-description
        color: var(--main-text-color)

    .yt-card .yt-uix-button-expander
        border-top-color: var(--sep-line-color)
        color: var(--main-faded-text-color)

    // }}}
    // playlist {{{

    /* Title and options section */
    .watch-playlist
        color: var(--main-text-color)
        background: var(--card-bg-color)

    /* List bg */
    #player-playlist .playlist-videos-list
        background-color: var(--card-bg-color)
        color: var(--main-text-color)
        /* Playlist number */

    /* Active item background */
    #player-playlist:not(.watch-queue-nav) .playlist-videos-list > li.currently-playing
        background-color: var(--menu-hover-bg-color)

    /* Hover item background */
    #player-playlist .playlist-videos-list > li:hover
        background-color: var(--menu-hover-bg-color)

    /* Item name */
    #player-playlist .playlist-video h4
        color: var(--main-text-color)
        background-color: transparent

    /* Item uploader */
    #player-playlist .video-uploader-byline
        color: var(--main-faded-text-color)

    // }}}
    // }}}
    // Comments {{{

    /* Comment box */
    /* Remove dumb looking speech bubble arrow */
    .comment-simplebox-arrow
    .sharing-balloon::before
    .sharing-balloon::after
        display: none

    .comment-simplebox-renderer-collapsed-content
    .sharing-balloon
        border: 1px solid var(--menu-border-color)
        background-color: var(--input-box-bg-color)
        color: var(--main-text-color)

    .comment-simplebox
        background-color: transparent

    .comment-simplebox-frame
        border-color: var(--menu-border-color)
        background-color: var(--input-box-bg-color)

    .comment-simplebox-text
    .comment-simplebox-prompt
        color: var(--main-text-color)
        background-color: transparent

    /* Separator between your comment and all comments */
    .comment-simplebox-renderer
        border-color: var(--sep-line-color)

    // }}}
    // Footer {{{

    /* Button icon color fix */
    #footer .yt-uix-button-icon
        filter: invert(100%)
        opacity: 0.5

    /* Menus */
    #yt-picker-country-footer
    #yt-picker-language-footer
    #yt-picker-safetymode-footer
        background: var(--menu-bg-color)

    /* Close button */
    #footer .yt-close-img
        filter: invert(100%)
        opacity: 1

    /* Menu text colors */
    .yt-default h1
    .yt-default h2
    .yt-default h3
    .yt-default h4
    .yt-default h5
    .yt-default h6
    h1.yt
    h2.yt
    h3.yt
    h4.yt
    h5.yt
    h6.yt
    .yt-picker-region-name
        color: var(--main-text-color)

    .yt-default .yt-notes
    p.yt-notes
        color: var(--main-faded-text-color)

    .yt-picker-content strong
    .yt-picker-content strong .yt-picker-region-name
        color: var(--link-hover-color)

    #footer-links-primary a
        color: var(--link-color)

    #footer-links-primary a:hover
        color: var(--link-hover-color)

    #footer-links-secondary a
    #footer-links-secondary .copyright
        color: var(--main-faded-text-color)

    #footer-links-secondary a:hover
        color: var(--link-color)

    /* Separators */
    .yt-picker-header
    .yt-picker-hr
    #footer-main
    #safety-form p.safety-submit
        border-color: var(--sep-line-color)

    /* Restricted mode form */
    #safety-form
        color: var(--main-text-color)

    // }}}
    // Settings / Account management {{{

    /* Account Settings */
    /* Left menu */
    #creator-sidebar h3
    #creator-sidebar h3 a
        color: var(--main-text-color)

    /* Menu items */
    #creator-sidebar .creator-sidebar-section a
        color: var(--main-text-color)

    #creator-sidebar .creator-sidebar-section a:hover
        background: var(--card-dark-bg-color)
        color: var(--link-hover-color)

    /* Account settings main page container */
    .account-container
        background: var(--card-bg-color)

    .account-header h1
    h3.account-section-header
        color: var(--link-color)

    .account-content
        color: var(--main-text-color)

    .setting-reminder
        color: var(--main-faded-text-color)

    .yt-horizontal-rule
        border-color: var(--sep-line-color)

    .yt-uix-form-input-select
    .yt-uix-form-input-text
    .yt-uix-form-input-textarea
        border-color: var(--menu-border-color)

    .yt-uix-form-input-select-content
    .yt-uix-form-input-select-element
        background-color: var(--input-box-bg-color)
        color: var(--main-text-color)
        text-shadow: none

    .social-connector
        background: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    /* Promo container */
    .howto-promo-container
        background-image: none

    .howto-circle
        background: var(--menu-bg-color)
        border: 1px solid var(--menu-border-color)

    .remote-icon
        filter: invert(92%) brightness(200%)

    .yt-uix-form-input-select
    .yt-uix-form-input-text
    .yt-uix-form-input-textarea
        background: var(--input-box-bg-color)
        border-color: var(--menu-border-color)

    // }}}
    // Creator Studio {{{

    /* Header text */
    #dashboard-header h2 a
    #creator-sidebar .creator-sidebar-branding h1
    .dashboard-widget-header h2 a
        color: var(--link-color)

    #dashboard-header h2
    #dashboard-header h3
    #dashboard-header .dashboard-stat-value
    #dashboard-header .dashboard-stat-name
    #dashboard-header .add-widget-button-label
        text-shadow: none

    /* Dashboard as active menu item */
    #creator-sidebar > .creator-sidebar-section.selected > h3 a
    #creator-sidebar > #creator-sidebar-section-id-dashboard.selected > h3 a
        background-color: var(--menu-hover-bg-color)

    /* Widget cards */
    /* Text */
    .dashboard-widget-header:hover h2 a
        color: var(--link-color)

    /* Widget bg */
    .dashboard-widget.notification
    .dashboard-widget .dashboard-widget-content
    .dashboard-widget .dashboard-widget-config
        background-color: var(--card-bg-color)
        color: var(--main-text-color)

    /* Widget hover */
    .dashboard-widget-header:hover
    .dashboard-widget .dashboard-widget-config .dashboard-widget-header
    .dashboard-widget.yt-uix-dragdrop-dragged-item .dashboard-widget-header
    .dashboard-widget.yt-uix-dragdrop-cursor-follower .dashboard-widget-header
        background-color: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    .dashboard-widget-header:hover .dashboard-widget-overlay-icon
    .dashboard-widget.yt-uix-dragdrop-dragged-item .dashboard-widget-header .dashboard-widget-header-controls
    .dashboard-widget.yt-uix-dragdrop-cursor-follower .dashboard-widget-header .dashboard-widget-header-controls
    .dashboard-widget:hover .dashboard-widget-display-title
    .dashboard-widget.yt-uix-dragdrop-dragged-item .dashboard-widget-display-title
    .dashboard-widget.yt-uix-dragdrop-cursor-follower .dashboard-widget-display-title
        border-color: var(--menu-border-color)

    .yt-uix-button-icon-dashboard-widget-remove
    .yt-uix-button-icon-dashboard-widget-config
        filter: invert(100%) brightness(200%)

    /* Dashboard */
    /* Header */
    /* Channel name / username hover */
    #dashboard-header h2 a:hover
        color: var(--link-hover-color)

    #dashboard-header .dashboard-stat-value
        color: var(--main-text-color)

    /* Text */
    #dashboard-header .dashboard-stat-name
    #dashboard-header .add-widget-button-label
        color: var(--main-faded-text-color)

    /* Add widget */
    .add-widget-button
        background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-videomanager-2x-vflI4gnrL.png) -26px -631px
        background-size: 70px 705px
        filter: brightness(150%)

    .add-widget-button:hover
    .add-widget-button:focus
        background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-videomanager-2x-vflI4gnrL.png) 0 -665px
        background-size: 70px 705px
        filter: invert(0.7)

    /* Popup menu */
    /* Header text */
    .add-widget-menu-content h3
        color: var(--link-color)

    /* Text */
    .add-widget-menu-item
    .add-widget-menu-item.added:hover
    .add-widget-menu-content.widget-limit .add-widget-menu-item:hover
        color: var(--main-text-color)

    /* Separators */
    .add-widget-menu-content li
    #dashboard-header-stats li
        border-color: var(--sep-line-color)

    /* Hover menu item */
    .add-widget-menu-item:hover .add-widget-menu-item-contents
        background-color: var(--menu-hover-bg-color)

    /* Menu */
    /* Icons */
    #creator-sidebar .studio-icon
        filter: invert(1)

    #creator-sidebar .studio-icon.selected
    #creator-sidebar a:hover .studio-icon.creator-sidebar-dashboard.selected
        filter: none

    /* Tips cards */
    .dashboard-widget-todos .todo-item
        border: 1px solid transparent

    .dashboard-widget-todos .todo-item:hover
        background-color: var(--card-hover-bg-color)

    .dashboard-widget-todos .todo-description
        border-color: var(--card-border-color)

    /* View all button */
    .dashboard-widget-footer .dashboard-widget-view-all-link
        color: var(--link-color)

    .dashboard-widget-footer .dashboard-widget-view-all-link:hover
        background-color: var(--card-hover-bg-color)

    /* Comments card */
    .dashboard-widget-comments .comment-comment
        color: var(--main-text-color)

    /* Analytics card */
    .analytics-sparkline-card:hover
        background: var(--card-hover-bg-color)

    .analytics-sparkline-card .infos .title
        color: var(--main-text-color)

    .analytics-sparkline-card .infos .total
        color: var(--main-faded-text-color)

    /* Videos card */
    .video-list-item a:hover
        background: var(--menu-hover-bg-color)

    /* Notifications page */
    /* Text */
    .yt-creator-notifications .yt-creator-notifications-header h2
        color: var(--link-color)

    .yt-creator-notifications .yt-creator-tip-list tr
        color: var(--main-text-color)

    /* Separators */
    .yt-creator-notifications .yt-creator-tip-list tr
        border-color: var(--sep-line-color)

    /* Inactive / completed */
    .yt-creator-notifications .yt-creator-tip-list .inactive
        background: var(--card-dark-bg-color)

    /* Video Manager */
    /* Header text */
    #creator-subheader h2
        color: var(--link-color)

    /* Search menu */
    /* Search input box */
    #vm-myvideos-search-box
    #vm-playlists-search-box
    #vm-tags-search-box
        border-color: var(--card-border-color)

    #advanced-search-button-menu
        color: var(--main-text-color)

    .advanced-search-footer
        background: var(--card-bg-color)

    /* Filter bar and pagination */
    #non-appbar-vm-video-actions-bar
    #non-appbar-vm-video-actions-bar .vm-video-actions-bar
    #vm-pagination
        background-color: var(--menu-bg-color)

    .yt-ui-menu-content .yt-ui-menu-item.menu-subheading
    .yt-ui-menu-content .yt-ui-menu-item.menu-subheading-notice
        background: var(--card-bg-color)
        border-color: var(--menu-border-color)
        border-bottom: 1px solid var(--menu-border-color)

    .yt-ui-menu-content .yt-ui-menu-item.menu-subheading
    .yt-ui-menu-content .yt-ui-menu-item.menu-subheading-notice
        color: var(--main-faded-text-color)

    /* Video list */
    .vm-list-view .vm-video-list .vm-video-item
        background: transparent

    .vm-list-view .vm-video-list .vm-video-item.selected
        background: var(--card-hover-bg-color)

    .vm-list-view .vm-video-list .vm-video-item:hover
        background: var(--card-light-hover-bg-color)

    .vm-list-view .vm-video-metrics a:hover
        background: transparent

    /* Playlist list */
    #non-appbar-vm-video-actions-bar .vm-video-actions-inner #vm-view-filter-label
    .vm-copyright-filter-wrapper
        color: var(--main-text-color)

    /* Separators */
    #non-appbar-vm-video-actions-bar .vm-video-actions-inner
    .menu-item-top-divider
        border-color: var(--sep-line-color)

    .vm-list-view .vm-video-item-content-horizontal-divider
        background: var(--sep-line-color)

    /* Creator editor */
    /* BG */
    #creator-editor-container
        background: var(--card-bg-color)

    .metadata-editor-container .video-settings-form
    .metadata-container
    #inline-editor-main
        background: transparent

    /* Nav bar */
    .creator-editor-nav-tabs li > span
    .creator-editor-nav-tabs li a
    .tabs .tab-header.selected a
    .tabs .tab-header a:hover
    .tabs .tab-header:hover a
    .tabs .tab-header a:focus
        color: var(--main-text-color)

    /* Separators */
    .creator-editor-nav
    .creator-editor-header
    .copynotice-claim-details-table tr
    .metadata-editor-container .subnav
    .translation-editor-header .translation-editor-column-half
    .translation-editor-header .translation-editor-column-divider
    .creator-editor-content #inline-editor-header
    .tab-container
    #enhance-footer
    .blur-effect-entry
    #audio-ui-pagefold
    #audio-ui-wfe table
    #audio-ui-wfe .audio-ui-wfe-section
    #audio-ui-wfe-nonmuting .audio-ui-wfe-rowgroup
    #annotator-select-menu .yt-uix-button-menu-item td
    #annotator-add-div
    #annotator-select-div
    .annotation-details-container li.annotation-time-pair
    .annotation-link
    #add-captions-section
    #video-settings-section
    #bottom-notes-section
    .timed-event-line
    #event-line-editor
        border-color: var(--sep-line-color)

    /* Info icon popup arrow */
    .yt-uix-card-body-arrow-vertical
        border-top-color: var(--menu-bg-color)

    /* Text */
    .copynotice-top-section
    .copynotice-claim-info
    .video-info-text
    #player-and-info-pane #video-info dd
    .metadata-container h3
    .single-field
    .menu-tab:hover
    .menu-tab.selected
    .enhance-effect .slider-readout
    .enhance-effect .property-title
    .blur-effect-entry .blur-effect-title
    .yt-alert-naked .yt-alert-content
        color: var(--main-text-color)

    .blur-effect-entry .blur-effect-explanation
    .blur-effect-footnote
        color: var(--main-faded-text-color)

    /* Video tagging ui */
    /* Container bg */
    .video-settings-tag-chips-container
        background: var(--card-dark-bg-color)
        border-color: var(--card-border-color)

    /* Tag */
    .yt-chip
        background-color: var(--menu-bg-color)
        color: var(--main-text-color)
        border-color: var(--menu-border-color)
        box-shadow: none

    /* Input box */
    .video-settings-add-tag
    .translation-editor-original-input
    .translation-editor-original-input:hover
    .translation-editor-original-input:focus
        background-color: var(--input-box-bg-color)
        border: 1px solid var(--menu-border-color) !important
        color: var(--main-text-color)

    /* Audio editor */
    #featured-tracks-header
        background-color: var(--menu-bg-color)

    #audio-ui
        color: var(--link-color)

    #featured-tracks-header
    #audio-ui-featured-table
        border-color: var(--menu-border-color)

    .audio-ui-featured-row
        background-color: var(--card-dark-bg-color)
        border-color: var(--card-border-color)
        box-shadow: none
        color: var(--main-text-color)

    #audio-ui-search-input-field
        background-color: transparent
        border: none

    .searchfield input
        border-color: var(--menu-bg-color)
        color: var(--main-text-color)

    .searchfield input:focus
        border-color: var(--menu-light-bg-color)

    /* Annotations editor */
    #annotator-div
        background: var(--card-dark-bg-color)
        border-color: transparent

    .time-field-nudge-container .time-field-nudge-up
    .time-field-nudge-container .time-field-nudge-down
        background-image: none

    #annotator-select-menu tr.yt-uix-button-menu-item
        background-color: var(--menu-bg-color)

    #annotator-select-menu tr.yt-uix-button-menu-item:hover
        background-color: var(--menu-hover-bg-color)

    /* Cards editor */
    .annotator-clickcard-item .annotator-clickcard-title
        color: var(--main-text-color)

    .annotator-clickcard-item .annotator-clickcard-subtitle
        color: var(--main-faded-text-color)

    .yt-video-picker-scroll-container
    .annotator-overlay-content
        border-color: var(--menu-border-color)

    /* Button color fix */
    .annotator-clickcard-item .annotator-clickcard-right .yt-uix-clickcard-close
        filter: invert(0.05)

    /* Cards editor timeline */
    .multitrack-timeline
        background-color: var(--menu-bg-color)

    .timeline-row
        background-color: var(--menu-light-bg-color)

    .timeline-ruler .hline
    .timeline-ruler .stick
    .timeline-ruler .mtick
        background-color: var(--main-text-color)

    .timeline-ruler .rulabel
        color: var(--main-text-color)

    /* Subtitles editor */
    .timedtext-content
        background-color: transparent

    #video-settings-section
    .auto-pause-checkbox-section
    #empty-editor-placeholder
    #empty-editor-placeholder h3
        color: var(--main-text-color)

    .waveform-player
        background-color: transparent

    .timed-event-line.timed-event-line-focused
        background-color: var(--menu-bg-color)

    .timed-event-line:hover
        background-color: var(--menu-hover-bg-color)

    .event-time-field:hover
    .event-text:hover
        color: var(--main-text-color)

    .zoom-slider
        background-color: transparent
        filter: invert(0.95)

    /* Live Streamer */
    #verify-phone-page
        border-color: var(--menu-border-color)

    .live-dashboard .player-controls-buttons
        background-color: var(--card-bg-color)

    .live-dashboard-status-bar
        background-color: var(--menu-bg-color)

    .live-dashboard-status-bar
    .live-dashboard-status-bar-container
    .live-dashboard .checklist-item
    .live-dashboard .checklist-remove-container
    .live-chat-widget #comments-scroller
        border-color: var(--menu-border-color)

    /* Text */
    .live-dashboard .strong-text
    .yt-card .yt-uix-button-expander:hover
    .live-dashboard .more-actions-buttons a
        color: var(--link-color)

    .live-dashboard .checklist-item
    .live-dashboard .yt-uix-tabs .yt-uix-button-content
    .live-chat-widget .byline
        color: var(--main-text-color)

    .live-chat-widget .comments-textarea-label
        color: var(--main-faded-text-color)

    /* Drag and drop handle */
    .live-dashboard .yt-uix-dragdrop-drag-handle
    #player .player-dragdrop-handle-container .yt-uix-dragdrop-drag-handle
        background-color: var(--menu-bg-color)
        border: 1px solid var(--menu-border-color)

    /* Icons */
    .yt-uix-button-icon.yt-uix-button-icon-settings.yt-sprite
        filter: invert(100%)

    .yt-help-icon.yt-sprite
        filter: invert(100%) !important

    /* Analytics card */
    .live-rtd-info-chart-group
        filter: invert(0.9) saturate(0)
        margin: 1em 0

    /* Chat card */
    .live-comments-emoji-picker-tab-row
        background-color: var(--menu-light-bg-color)

    /* Icons */
    .live-comments-emoji-picker-tab-cell
        filter: invert(1)

    .live-chat-page
        background: var(--card-bg-color)

    .live-chat-widget .comment
        background-color: var(--card-light-bg-color)

    .live-chat-widget .comment.alternate-row
        background-color: var(--card-dark-bg-color)

    .live-chat-widget .comment-text
        color: var(--main-text-color)

    .live-chat-widget .byline a
        color: var(--link-color)

    .stream-health-item
        background-color: transparent

    /* Live Streaming events tab */
    .live-welcome-intro
        background: var(--menu-bg-color)
        border-color: var(--sep-line-color)

    .live-welcome-features .yt-sprite
        filter: invert(0.87)

    /* Community */
    /* Comments */
    .comments .comment-header .user-name
    .comments .thumb-title
    .comments .comment-footer-action
        color: var(--link-color)

    .comments .comment-entry:hover .thumb-title
    .comments .comment-entry:hover .vis-inspect-link
        color: var(--link-hover-color)

    /* Owner comment username bg fix */
    .comments .channel-owner .comment-header .user-name
        background-color: transparent
        font-weight: bold

    /* Approved comment banner */
    .feedback-banner
    .comments .feedback-banner
        background: var(--menu-bg-color)

    /* Tabs */
    .tabbed-page .tabs-wrapper
        border-left: none

    .tabbed-page .tab
        background-color: var(--menu-bg-color)
        border-color: var(--menu-border-color)
        color: var(--main-text-color)

    .tabbed-page .tab.active
        background-color: var(--menu-bg-color)
        border-bottom-color: var(--menu-border-color)
        border-left-color: var(--menu-border-color)
        border-right-color: var(--menu-border-color)
        color: var(--main-text-color)

    .tabbed-page .tab:hover
        background-color: var(--menu-hover-bg-color)

    /* Separators */
    .tabbed-page .tabs-area
    .tabbed-page .options-bar
    .subscribers-table .subscribers-table-header
    .subscribers-table td
    .caption-queue th
    .caption-queue td
        border-color: var(--sep-line-color)

    /* Another fucking dropdown input that's styled differently */
    .video-dds
    .video-dds:hover
    .video-dds.open
        border-color: var(--menu-border-color)

    .video-dds .topline
        background-color: var(--menu-bg-color)

    /* Open Dropdown */
    .video-dds.open .topline
        background-color: var(--menu-light-bg-color)

    .video-dds .list
        background-color: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    .video-dds .entry:hover .highlight
        background-color: var(--menu-hover-bg-color)
        color: var(--link-color)

    .video-dds .highlight
        color: var(--main-text-color)

    /* Comment buttons */
    .comments .comment-item:hover .mod-buttonbar
    .comments .comment-item:hover .mod-buttonbar .mod-button
        border-color: var(--menu-border-color)

    .commenthub .comments .mod-buttonbar .mod-button-content:hover
        background: #ccccc6

    /* Flag menu */
    .comments .mod-list
    .comments .mod-list-button
        background-color: #ccccc4

    /* Show more button */
    .comments .paginator
        background-image: none
        background-color: var(--menu-bg-color)
        border-color: var(--menu-border-color)
        color: var(--main-text-color)

    .comments .paginator:hover
        background-image: none
        background-color: var(--menu-hover-bg-color)
        border-color: var(--menu-border-color)

    /* Community - subscribers */
    /* Text */
    .subscribers-table .subscribers-table-header
    .subscribers-table .subscribed-since
        color: var(--main-text-color)

    .subscribers-table .description-text a
        color: var(--link-color)

    .subscribers-table .description-text a:hover
        color: var(--link-hover-color)

    /* Community - contribute */
    .caption-queue
        color: var(--main-text-color)

    .tabbed-page .tab.active a
        color: var(--main-text-color)

    .caption-queue .contribution-title a
        color: var(--link-color)

    .caption-queue .contribution-title a:hover
        color: var(--link-hover-color)

    /* Contribution caption editor */
    .waveform-container
    .waveform-slider-container
    .zoom-slider-container
    .zoom-icon-container
        filter: invert(0.92) saturate(0)

    /* Submit for review modal */
    .captions-credits-opt-in-box
        background: var(--card-bg-color)
        border-color: var(--card-border-color)

    /* Community - settings */
    #comment-settings .comment-settings-section
        border-color: var(--menu-border-color)
        background-color: var(--menu-bg-color)

    #comment-settings .comment-settings-header
        background-color: var(--menu-light-bg-color)

    /* Text */
    #comment-settings .comment-settings-title
    #comment-settings .comment-settings-label
        color: var(--link-color)

    #comment-settings .comment-settings-subtitle
    #comment-settings .comment-settings-control-info
    #comment-settings label
        color: var(--main-text-color)

    .acl-target-list-container .none-defined-text
        color: var(--main-faded-text-color)

    /* Borders / separators */
    .acl-target-list-container[data-which="moderator"]
        border-color: var(--menu-border-color)
        background-color: var(--input-box-bg-color)

    .acl-target-list-container .target-search
        color: var(--main-text-color)

    /* Channel */
    /* Status and features */
    /* Text */
    .account-features-v2-content
        color: var(--main-text-color)

    .account-feature-v2-grid-items .account-features-v2-grid-item-description a
        color: var(--link-color)

    /* Separators */
    .account-status-v2
    .account-status-scales
    .account-feature-v2-grid-items .account-features-v2-grid-item-title
    #creator-subheader
    .account-content .account-section.account-bordered-section
    .C6S3OU-q-h
    .C6S3OU-t-a
        border-color: var(--sep-line-color)

    .C6S3OU-r-h
        border-color: var(--menu-light-border-color)

    /* Inline style override */
    .C6S3OU-cb-e.C6S3OU-a-a
        border-color: var(--sep-line-color) !important

    /* Cards */
    .account-feature-v2-grid-items li
        background-color: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    /* Channel upload defaults */
    #creator-subheader
        background-color: var(--card-light-bg-color)

    /* Analytics */
    /* Page bg */
    .C6S3OU-b-d
        background-color: var(--card-bg-color)

    /* Page header */
    .C6S3OU-b-l
        background-color: var(--card-light-bg-color)

    /* Text */
    .C6S3OU-d-a .C6S3OU-d-b
    .C6S3OU-R-g h2 a
    .C6S3OU-T-s .C6S3OU-T-B
    .C6S3OU-T-v .C6S3OU-T-B
    .C6S3OU-T-e
    .gwt-Label.C6S3OU-nb-A.C6S3OU-nb-j.C6S3OU-nb-C.C6S3OU-nb-B
        color: var(--link-color)

    .C6S3OU-R-g h2 a:hover
        color: var(--link-hover-color)

    .C6S3OU-T-w
    .C6S3OU-T-b
    .C6S3OU-T-l .C6S3OU-f-c:hover .C6S3OU-f-f
    .C6S3OU-T-l .C6S3OU-f-h .C6S3OU-f-f
    .C6S3OU-b-c
        color: var(--main-text-color)

    .C6S3OU-R-e h3
    .C6S3OU-R-j
        color: var(--main-faded-text-color)

    /* Buttons */
    /* Text */
    .C6S3OU-g-f
    .C6S3OU-r-f
        color: var(--main-text-color)
        text-shadow: none

    /* Down arrows */
    .C6S3OU-g-f .C6S3OU-g-c
    .C6S3OU-g-w .C6S3OU-g-c
        border-top-color: var(--main-text-color)

    .C6S3OU-g-q
    .C6S3OU-g-q:hover
        border-width: 1px
        border-style: solid

    .C6S3OU-g-f:focus
    .C6S3OU-g-v:focus
    .C6S3OU-g-w:focus
        box-shadow: none

    /* Inputs */
    .C6S3OU-H-g .C6S3OU-H-d.C6S3OU-H-e
    input.C6S3OU-l-f
        color: var(--main-text-color)

    .C6S3OU-H-a a
        color: var(--link-color)

    input.C6S3OU-l-f
        background-color: var(--input-box-bg-color)
        border-color: var(--menu-border-color)

    /* Separators */
    .C6S3OU-Z-a:first-child > ul
        border-color: var(--menu-light-border-color)

    /* Calendar popup */
    /* Month container */
    .C6S3OU-L-h
        color: var(--main-text-color)
        border-color: var(--menu-light-border-color)
        background-color: var(--menu-bg-color)

    .C6S3OU-L-h .datePickerMonthSelector
        background-color: var(--menu-bg-color)

    /* Day of the week row */
    .C6S3OU-L-h .datePickerWeekdayLabel
    .C6S3OU-L-h .datePickerWeekendLabel
        background-color: var(--menu-hover-bg-color)
        border-color: var(--menu-border-color)

    .C6S3OU-L-h .datePickerPreviousButton
    .C6S3OU-L-h .datePickerNextButton
        color: var(--main-text-color)

    /* Weekend bg */
    .C6S3OU-L-h .datePickerDayIsWeekend
        background-color: var(--card-bg-color)

    /* Selected date */
    .C6S3OU-L-h .datePickerDayIsValue
        box-shadow: inset 0 0 0.1em var(--main-text-color)
        background-color: var(--menu-light-hover-bg-color)

    /* Hover date */
    .C6S3OU-L-h .datePickerWeekdayLabel:hover
    .C6S3OU-L-h .datePickerWeekendLabel:hover
    .C6S3OU-L-h .datePickerDay:hover
        background-color: var(--menu-light-hover-bg-color)
        color: var(--link-hover-color)

    /* Settings modal */
    /* Tick icon dropdown fix */
    .C6S3OU-r-b .C6S3OU-r-g
        filter: invert(100%)

    .C6S3OU-r-b .C6S3OU-r-g .C6S3OU-g-f
    .C6S3OU-r-b .C6S3OU-r-g .C6S3OU-r-f
        filter: invert(100%)

    .C6S3OU-r-b .C6S3OU-r-g.C6S3OU-r-e
        background-color: var(--menu-light-hover-bg-color)
        filter: invert(0%)

    .C6S3OU-r-b .C6S3OU-r-g.C6S3OU-r-e a
        color: black

    .C6S3OU-b-s
        margin-top: 0

    /* Fix gap between overview header and channel details header */
    .C6S3OU-b-s .C6S3OU-a-a
        padding-top: 20px

    /* Tags */
    .C6S3OU-R-b
        background-color: var(--menu-light-bg-color)

    /* Overview graphs */
    .C6S3OU-T-D
    .C6S3OU-T-h
        background: var(--menu-bg-color)

    .C6S3OU-T-p:hover
    .C6S3OU-T-c:hover
        background: var(--menu-hover-bg-color)

    .C6S3OU-T-m
    .C6S3OU-T-C .C6S3OU-T-x
    .C6S3OU-T-x
    .C6S3OU-T-c
    .C6S3OU-T-z
        border-color: var(--menu-border-color)

    /* Top 10 */
    .C6S3OU-f-a
        background: transparent

    .C6S3OU-nb-p
    .C6S3OU-nb-m
        background: var(--menu-light-bg-color)

    .C6S3OU-a-a
    .C6S3OU-nb-e
        background: var(--menu-bg-color)

    .C6S3OU-nb-y tr
    .C6S3OU-nb-y
        border-color: var(--menu-border-color)

    .C6S3OU-nb-r
        background: var(--menu-hover-bg-color)

    /* Browse all content modal */
    /* Video table */
    /* BG */
    .C6S3OU-f-i
        background: var(--menu-light-bg-color)

    .C6S3OU-q-b
    .C6S3OU-q-q
        background: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    .C6S3OU-q-b:hover
    .C6S3OU-q-q:hover
    .C6S3OU-q-s:hover
        background: var(--menu-hover-bg-color)

    /* Text */
    .C6S3OU-s-f
    .C6S3OU-q-h
    .C6S3OU-q-a
        color: var(--main-text-color)

    .C6S3OU-q-u:hover
        color: var(--link-hover-color)

    /* Analytics - Watch time */
    .C6S3OU-M-i
    .C6S3OU-M-j
        background: var(--menu-light-bg-color)
        border-color: var(--menu-light-border-color)

    .C6S3OU-M-j.C6S3OU-g-y
    .C6S3OU-M-j.C6S3OU-g-y:hover
    .C6S3OU-M-j:hover
        background: var(--menu-light-hover-bg-color)

    /* Text */
    .C6S3OU-M-n
        color: var(--link-color)

    .C6S3OU-M-p
        color: var(--main-text-color)

    /* Separators */
    .C6S3OU-N-a
    .C6S3OU-N-e
    .C6S3OU-hb-a li
        border-color: var(--menu-light-border-color)

    /* Analytics graphs */
    .C6S3OU-Bb-b rect
    .C6S3OU-Bb-b text
    .gwt-viz-container > div > div > div > svg > rect
        filter: invert(0.9)

    .C6S3OU-kb-b
    .C6S3OU-kb-b .gwt-viz-container
        background-color: var(--card-bg-color)

    .gwt-viz-container text
        filter: invert(1)

    /* Options buttons */
    /* Button group bar bg */
    .C6S3OU-hb-a
        background-color: var(--menu-bg-color)
        border-color: var(--menu-light-border-color)

    /* Button */
    .C6S3OU-hb-a li
        background-color: var(--menu-light-bg-color)

    .C6S3OU-hb-a li:hover
        background-image: none
        background-color: var(--menu-light-hover-bg-color)

    /* Active button */
    .C6S3OU-hb-a li.C6S3OU-hb-b
        background-color: var(--menu-light-active-bg-color)

    /* Video list table */
    /* BG */
    .C6S3OU-Y-o
    .C6S3OU-Y-c
    .C6S3OU-Y-o tr:nth-child(2n)
        background-color: var(--menu-bg-color)

    .C6S3OU-Y-H
    .C6S3OU-Y-o .C6S3OU-Y-w td
        background-color: var(--menu-light-bg-color)

    .C6S3OU-Y-o tr:hover
        background-color: var(--menu-hover-bg-color)

    .C6S3OU-Y-o .C6S3OU-Y-H:hover
        background-color: var(--menu-light-hover-bg-color)

    /* Text */
    .C6S3OU-Y-F
    .C6S3OU-Y-q .C6S3OU-Y-F
        color: var(--link-color)

    .C6S3OU-Y-g
        color: var(--main-faded-text-color)

    /* Separators */
    .C6S3OU-Y-o th
    .C6S3OU-Y-o td
    .C6S3OU-Y-c th
    .C6S3OU-Y-c td
        border-color: var(--menu-light-border-color)

    /* Create */
    /* Text */
    #main-title
    button.track-selection-menu-button
        color: var(--link-color)

    /* Audio library */
    /* Separators */
    .top-menu
    .track-filter-selection-list .track-filter.all
    .track-list li.track.expanded
        border-color: var(--menu-border-color)

    /* List item */
    /* BG */
    .track-list li.track
        background-color: var(--card-dark-bg-color)
        border-color: var(--menu-border-color)

    .track-list li.track:hover
    .track-list li.track.expanded
        background-color: var(--card-hover-bg-color)

    .track-list li.track.loading
        background-color: var(--card-light-hover-bg-color)

    /* Popularity bar hover */
    .track:hover .audiolibrary-track-head .audiolibrary-column .popularity-bar
    .track.loading .audiolibrary-track-head .audiolibrary-column .popularity-bar
    .track.expanded .audiolibrary-track-head .audiolibrary-column .popularity-bar
        background-color: var(--menu-light-hover-bg-color)

    /* Text */
    .audiolibrary-column-title
    .audiolibrary-column-title-expand
    .track:hover .audiolibrary-track-head .audiolibrary-column
    .track.loading .audiolibrary-track-head .audiolibrary-column
    .track.expanded .audiolibrary-track-head .audiolibrary-column
    .audiolibrary-column-genre-and-mood a:hover
        color: var(--link-color)

    .audiolibrary-column-duration
    .audiolibrary-column-artist
    .audiolibrary-column-album
    .audiolibrary-column-genre-and-mood a
        color: var(--main-text-color)

    .asset-sound-recording-section
    .asset-composition-section
    .music-attribution-monetization-section
    .music-attribution-no-monetization-section
    .music-no-attribution-monetization-section
    .music-no-attribution-no-monetization-section
        color: var(--main-faded-text-color)

    /* Create - Music Policies */
    .asset-restrictions-header
    .asset-monetization-header
    .asset-stores-header
    .asset-restrictions-list div
    .asset-monetization-list div
    .asset-stores-list div
        color: var(--main-text-color)

    /* Create - Video Editor */
    /* BG */
    /* Project dropdown menu */
    #yt-editor-project-menu .project-menu-header
        background-color: var(--menu-light-bg-color)
        border-color: var(--menu-light-border-color)

    #yt-editor-project-menu div.project-menu-item:hover
    #yt-editor-project-menu div.project-menu-item.selected
        background-color: var(--menu-hover-bg-color)

    /* Video title input */
    #video-title
        background-color: var(--input-box-bg-color)
        color: var(--main-text-color)
        box-shadow: none
        border-color: var(--menu-border-color)

    #video-title:focus
        color: var(--main-text-color)
        outline: 1px solid var(--menu-light-border-color)

    /* Edit video / audio etc dialogs */
    .infobox-body
        background: var(--menu-bg-color)

    .editor-slider .slider-readout
    .text-property-panel .property-title
        color: var(--main-text-color)

    .video-media #infobox-options-container
    .image-media #infobox-options-container
        border-color: var(--sep-line-color)

    /* Storyboard editor section */
    #storyboard
        background-color: var(--menu-bg-color)
        border-color: var(--menu-border-color)

    /* Audio overflow greys out */
    .timeline-audio-clip .audio-overflow-mask
        background-color: var(--card-bg-color)

    /* Text */
    .drag-to-begin-message p
    .drag-to-begin-audio-message p
    .editor-timeline .timeline-ruler .rulabel
        color: var(--main-text-color)

    /* Separators */
    #top-bar
    #advertising-note
        border-color: var(--sep-line-color)

    /* Lines */
    .editor-timeline .timeline-ruler .hline
    .editor-timeline .timeline-ruler .stick
    .editor-timeline .timeline-ruler .mtick .base
        background-color: var(--menu-light-border-color)

    /* Video list thumbnail title */
    .media-list .editor-thumb .video-title
    .dragging .video-title
    .editor-thumb:hover .video-title
    #mediapicker .video-original.selected .video-title
        background: var(--menu-bg-color)
        color: var(--link-color)
        opacity: 0.8

    /* Editor thumbnail */
    .editor-thumb-body
    .ghost
        outline-color: var(--menu-light-border-color)

    /* Audio timeline widget */
    .editor-thumb-body
        background-color: var(--menu-light-bg-color)

    .editor-thumb-body:hover
        background-color: var(--menu-light-hover-bg-color)
        outline-color: var(--menu-light-border-color)

    /* Create - Video Editor - Audio tab */
    /* Audio item */
    .mediapicker-audio.audio-track .audio-title
    .mediapicker-audio.audio-track .editor-thumb-time
        color: var(--main-text-color)

    .mediapicker-audio.audio-track .audio-genre
    .mediapicker-audio.audio-track .audio-artist
        color: var(--main-faded-text-color)

    #audio-media-list .scroll-content .audio-original:hover
    #audio-media-list .scroll-content .audio-original.selected
        box-shadow: 0 1px 0 0 var(--menu-light-border-color)
        border-color: var(--menu-light-border-color)
        background-color: var(--menu-hover-bg-color)

    // }}}
    // TestTube {{{

    /* Maybe not just TestTube? */
    .yt-nav-dark
        background: var(--card-bg-color)

    .yt-testtube-card-title
    .yt-testtube-card-light .yt-testtube-card-title
        color: var(--link-color)

    .yt-testtube-card-light .yt-testtube-card-content
    .yt-testtube-card-dark .yt-testtube-card-content
        color: var(--main-text-color)

    // }}}
    // About {{{

    /* Appbar but for About page cos WHY USE THE SAME STYLES RIGHT?! */
    #yt-main-nav-container
        background: var(--card-bg-color)

    #yt-main-nav a:active
    #yt-main-nav a.active
    #yt-main-nav a:hover
    #yt-main-nav .yt-nav-element:hover
    #yt-main-nav > a:hover
    .nav-container > a:hover
    .yt-nav-navmenu-container.yt-expanded
    #yt-main-nav .yt-nav-element:active
    #yt-main-nav .yt-nav-element.active
    #yt-main-nav > a:active
    #yt-main-nav > a.active
    .nav-container > a:active
    .nav-container > a.active
    #yt-main-nav .yt-nav-element.yt-nav-navmenu-container.yt-collapsed.active-nav
        background-color: var(--card-light-bg-color)

    /* Header text */
    #yt-microsite h2
    #yt-microsite h3
    #yt-microsite h4
    #yt-microsite h5
    #yt-sidebar h2 a
    #yts-nav ol li.top-level a
        text-shadow: none
        color: var(--link-color)

    /* Menu text */
    #yt-sidebar ul a
    #yts-nav .indented .sub-level a
        color: var(--main-text-color)

    #yts-nav .indented .sub-level a:hover
        background: var(--menu-hover-bg-color)
        background-image: none

    /* Content text */
    #yt-microsite-features p
    ol.yt
    ul.yt
    .yt-text ol
    .yt-text ul
    #yt-microsite .yt-card-light .yt-card-text
    #yt-microsite .yt-card-light .yt-card-text p
    #yts-article
        color: var(--main-text-color)

    /* Separators */
    .separator
    .with-divider
    .header
    #yts-article #header
    #yts-article .with-separator
    #yts-nav
        border-color: var(--sep-line-color)

    /* Feature card background */
    .yt-tile-static
    .yt-tile-visible
    .yt-tile-default:hover
    .yt-card-light
    #yts-article::after
        background: var(--card-bg-color)
        border-color: var(--card-light-bg-color)
        box-shadow: none

    /* Vertical menu separator line */
    .yt-sidebar-border
        border-color: var(--sep-line-color)

    /* Remove bold from selected menu item */
    #yt-sidebar li.selected a
        font-weight: normal

    /* Community Guidelines */
    /* Page background */
    .yt-cardified #page
        background-color: var(--bg-color)

    /* Header text */
    #yt-microsite .yt-card-light .yt-card-title h2
    #yt-microsite .yt-card-light h2.yt-card-title
    #yt-microsite-features .yt-microsite-feature strong
    #yt-microsite-features .yt-microsite-features strong
        color: var(--link-color)

    /* Other header text */
    h1.yt
    h2.yt
    h3.yt
    .yt-text h1
    .yt-text h2
    .yt-text h3
        text-shadow: none
        color: var(--link-color)

    /* Content text */
    #yt-microsite .yt-card-light .yt-card-text .yt-policyandsafety-col p
    #yt-microsite .yt-card-light .yt-card-text .yt-policyandsafety-col
    #yt-microsite .yt-policyandsafety-content-container p
    #yt-microsite .yt-card-dark .yt-card-text p
        color: var(--main-text-color)

    /* Jobs */
    /* Search box */
    #yt-jobs-search-form .yt-jobs-searchbox
        background-color: var(--input-box-bg-color)
        border-color: var(--card-light-bg-color)
        color: var(--main-text-color)

    /* Footer */
    /* Remove text shadows */
    .footer-secondary li
        text-shadow: none

    /* Fix color and weight */
    .footer-secondary a
        color: var(--link-color)

    .footer-secondary a
    .footer-secondary .footer-secondary-info a
        font-weight: normal

    .footer-secondary .footer-secondary-info a:hover
        color: var(--link-hover-color)

    /* Dropdowns */
    .yt-form-input-select-container
        text-shadow: none

    .yt-form-input-select-container select
        background-color: var(--card-bg-color)
        color: var(--main-text-color)

    .yt-form-input-select-container:hover
        border-color: var(--menu-light-border-color)

    .yt-form-input-select-value
        color: var(--main-text-color)

    // }}}
    // Creators {{{

    /* Page bg */
    .yt-creator-hub-page-0
        background-color: var(--bg-color)

    /* Masthead */
    /* BG */
    .yt-creator-hub-page-0 #masthead.yt-creator-hub-page
        background: var(--card-dark-bg-color)

    /* Hamburger menu icon */
    .yt-creator-hub-page-0 #hamburger.yt-creator-hub-page
        color: var(--main-text-color)

    /* Logo bg */
    .yt-creator-hub-logo-0
        background-color: transparent

    /* Logo image */
    .iron-image-0 #img.iron-image
        visibility: hidden
        width: 72px
        height: 32px

    .yt-creator-hub-logo-0 #logo.yt-creator-hub-logo
        background: embedurl('nwsome__logo.svg','utf8')
        background-repeat: no-repeat
        background-size: 100%
        opacity: 0.65

    /* Logo title text color */
    .yt-creator-hub-logo-0 #link.yt-creator-hub-logo a
        color: var(--link-color)

    /* Appbar */
    /* BG */
    .yt-creator-hub-page-0 #nav.yt-creator-hub-page
        background: var(--card-bg-color)

    /* Current link */
    .yt-creator-hub-page-0 #nav.yt-creator-hub-page > div a.active
    .yt-creator-hub-page-0 #nav.yt-creator-hub-page > div a:focus
    .yt-creator-hub-page-0 #nav.yt-creator-hub-page > div a:hover
        color: var(--link-color)
        font-weight: normal

    /* Sidebar */
    /* BG */
    .yt-creator-hub-drawer-0 #content.yt-creator-hub-drawer
        background-color: var(--menu-bg-color)

    /* Menu item */
    .yt-creator-hub-page-0 #menu.yt-creator-hub-page a
        color: var(--link-color)

    /* Active / hover menu item */
    .yt-creator-hub-page-0 #menu.yt-creator-hub-page a.active
    .yt-creator-hub-page-0 #menu.yt-creator-hub-page a:hover
        background: var(--menu-hover-bg-color)
        color: var(--link-hover-color)

    /* Cards */
    /* Header text */
    .yt-creator-hub-card-0.yt-home-layout #content.yt-creator-hub-card #title.yt-creator-hub-card h1
    .yt-creator-hub-card-0 #content.yt-creator-hub-card #title.yt-creator-hub-card h2
    .yt-creator-hub-card-0 #content.yt-creator-hub-card #title.yt-creator-hub-card h3
    .yt-creator-hub-card-0.yt-home-layout #content.yt-creator-hub-card #title.yt-creator-hub-card h2
    .yt-creator-hub-card-0.yt-benefit-layout #content.yt-creator-hub-card #title.yt-creator-hub-card h1
    .yt-creator-hub-card-0 #content.yt-creator-hub-card #title.yt-creator-hub-card h1
        color: var(--link-color)

    /* Content text */
    .yt-creator-hub-card-0 #content.yt-creator-hub-card #info.yt-creator-hub-card p
        color: var(--main-text-color)

    /* Links */
    .yt-creator-hub-card-0 #content.yt-creator-hub-card #info.yt-creator-hub-card a
    .yt-creator-hub-card-0 #content.yt-creator-hub-card .link.yt-creator-hub-card a
    .yt-creator-hub-social-nav-0 a
    .yt-creator-hub-event-0 a.yt-creator-hub-event
        color: var(--link-color)

    .yt-creator-hub-card-0 #content.yt-creator-hub-card #info.yt-creator-hub-card a:hover
    .yt-creator-hub-card-0 #content.yt-creator-hub-card .link.yt-creator-hub-card a:hover
    .yt-creator-hub-social-nav-0 li.yt-creator-hub-social-nav:hover a
    .yt-creator-hub-event-0 a.yt-creator-hub-event:hover
        color: var(--link-hover-color)

    /* Link arrows */
    .yt-creator-hub-card-0 #content.yt-creator-hub-card .link.yt-creator-hub-card a::after
    .yt-creator-hub-event-0 a.yt-creator-hub-event::after
        filter: invert(60%)

    /* Events page */
    /* Region section bg */
    .yt-creator-hub-dropdown-0
        background-color: transparent

    .yt-creator-hub-dropdown-0 #label.yt-creator-hub-dropdown
        color: var(--main-text-color)

    /* Input styles */
    /* Text */
    .paper-input-container-0 .input-content.paper-input-container .paper-input-input
    .paper-input-container-0 .input-content.paper-input-container input
    .paper-input-container-0 .input-content.paper-input-container iron-autogrow-textarea
    .paper-input-container-0 .input-content.paper-input-container textarea
    paper-item
        color: var(--main-text-color)
        cursor: pointer

    /* BG */
    .paper-dropdown-menu
    .paper-menu-button-0 .dropdown-content.paper-menu-button
    .paper-listbox-0
        background-color: var(--menu-bg-color)

    paper-item:hover
        background-color: var(--menu-hover-bg-color)

    /* Region dropdown borders */
    .paper-input-container-0
        border-color: var(--menu-border-color)

    .paper-input-container-0 .unfocused-line.paper-input-container
        background: var(--menu-border-color)

    /* Subscriber count */
    /* BG */
    .yt-creator-hub-events-filter-0
        background-color: transparent

    /* Header text */
    .yt-creator-hub-events-filter-0 #label-container.yt-creator-hub-events-filter h2#heading.yt-creator-hub-events-filter
        color: var(--link-color)

    /* Cards */
    /* BG */
    .yt-creator-hub-event-0 .card.yt-creator-hub-event
        background-color: var(--card-bg-color)

    /* Header text */
    .yt-creator-hub-event-0 h1.yt-creator-hub-event
        color: var(--link-color)
        border-color: var(--sep-line-color)

    /* Content text */
    .yt-creator-hub-event-0 h2.yt-creator-hub-event
        color: var(--main-text-color)

    /* Advertise */
    /* Adwords cta */
    a.adwords-cta-banner
    .make-video-director-adwords-banner a.adwords-cta-banner
        background-color: var(--card-bg-color)

    /* Sidenav */
    md-sidenav
        background-color: var(--menu-bg-color)

    md-content.md-default-theme
        background-color: transparent

    .yt-advertise-sidebar p
    #yt-microsite .yt-card-light
        color: var(--main-text-color)

    /* Separators */
    hr.yt-advertise-sidebar-rule
        border-color: var(--sep-line-color)

    /* Cards */
    .make-video-grid-steps
        background-color: var(--card-bg-color)

    /* Developers */
    /* Appbar */
    #yt-dev-nav-container
        background: var(--card-dark-bg-color)

    /* Appbar hover links */
    #yt-dev-nav a:active
    #yt-dev-nav a.active
    #yt-dev-nav a:hover
        background-color: var(--menu-hover-bg-color)

    /* Footer wide card */
    .yt-dev-footer
        background-color: var(--card-bg-color)

    /* Developers Demo */
    /* Right menu flyout */
    .yt-toggle-dev-demos-sidebar-button
        background: var(--menu-bg-color)
        color: var(--main-text-color)

    #menu-arrow
        fill: var(--main-text-color)

    /* Right menu sidebar */
    /* BG */
    .yt-dev-demos-sidebar
        background-color: var(--menu-bg-color)

    /* Header text */
    .yt-dev-demos-sidebar-title
    .yt-dev-demos-tab .yt-dev-demos-tab-text
        color: var(--link-color)

    /* Normal text */
    .yt-dev-demos-sidebar-resources-title
        color: var(--main-text-color)

    /* Top tabs */
    /* Highlighted Tab */
    .yt-dev-demos-tab.yt-dev-demos-sidebar-tabs-highlighted
    .yt-dev-demos-tab.yt-dev-demos-sidebar-tabs-highlighted:hover
        background-color: var(--card-light-bg-color)

    /* Hover bg */
    .yt-dev-demos-tab:hover
        background-color: var(--card-light-bg-color)
        border-color: var(--menu-light-border-color)

    /* Separators */
    .yt-dev-demos-sidebar-resources-container
    .yt-dev-demos-sidebar-tabs-container
        border-color: var(--sep-line-color)

    /* Footer */
    .yt-dev-demos-sidebar-tabs-container
    .yt-dev-demos-sidebar-resources-container
        background-color: var(--card-bg-color)

    /* Showcase link icon */
    .yt-dev-showcase-external-link-msg-container:hover .yt-dev-showcase-external-link-img
        filter: saturate(0) brightness(250%)

    // }}}
    // Error Page {{{
    #error-page-content p
        text-shadow: none
        color: var(--main-text-color)

@-moz-document domain('apis.google.com')
    .nbc
        background-color: #2a2a2e
        border-color: #36363f

    .nbc a
        color: #aaaab6
    // }}}
